<div class="container">
  <form (ngSubmit)="guardar()" #forma="ngForm">
   <div class="row">
   <div class="col-5">
     <label for="fname" class="lbl">Nombre</label>
   </div>
    <div>
      <input type="text" 
      id="fname" 
      placeholder="Nombre" 
      class="txtbox"
      name="nombre"
      [(ngModel)]="persona.nombre"
      required
      minlength="3"
      #nombre="ngModel"
      [class.is-invalid]="nombre.invalid && nombre.touched"
      pattern="^[a-zA-ZñÑ\s]+$">
      <small class="text-danger" *ngIf="nombre.invalid && nombre.touched">Ingrese mas de 3 letras</small>
    </div>
 </div>


 <div class="row">
   <div class="col-5">
   <label for="fdireccion" class="lbl">Direccion</label>
  </div>
   <div>
   <input 
   type="text" 
   id="fdireccion" 
   placeholder="Direccion" 
   class="txtbox"
   name="direccion"
   [(ngModel)]="persona.direccion"
   required
   minlength="5"
   #direccion="ngModel"
   [class.is-invalid]="direccion.invalid && direccion.touched"
   pattern="^[a-zA-ZñÑ\s]+$">
   
   <small class="text-danger" *ngIf="direccion.invalid && direccion.touched">Ingrese mas de 5 letras</small>
  </div>


  <div class="row">
    <div class="col-5">
    </div>
    <div class="una-linea radiobtn">
      <input
      type="checkbox"
      id="fcheckbox"
      name="terminos"
      ngModel
                                                 
      required
      #genero="ngModel"
      [(ngModel)]="persona.terminos">
      <label for="fcheckbox-checkbox">Aceptar los terminos y condiciones</label>
      </div>
  </div>



      <div class="row">
        <div class="alinea-btn">
          <button type="submit" class="btn" [disabled]="!forma.valid">Guardar</button>
        </div>
      </div>
    </div>
  </form>
</div>
   <!-- value="boolean" -->